body{
	background-color:white;
	margin-left: auto;
    margin-right: auto;
    width: 40em;
	}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }

td, th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: white;
    
}

